// libs
@import "bootstrap";
@import "vars";
@import "prism";
@import "toastr";

// content style

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  padding: 51px 0 0;
}

.wrapper {
  height: 100%;
  overflow: auto;
  padding: 20px 0 0;
}
.search-form {
  padding: 10px 0 5px;
}

.list-group-item:focus, .list-group-item:hover {
  @extend .list-group-item.active;
  outline: 0;
}

.hl {
  font-weight: bold;
}

.loading {
  width: 32px;
  display: block;
  margin: 20px auto;
}
.snippet-details {
  .panel, .panel-body {
    padding: 0;
  }


  .panel pre {
    max-height: 400px;
    overflow-y: auto;
    border: 0;
    background: none;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    word-wrap: normal;
  }
}

.panel-heading {
  position: relative;
}
.panel-options {
  position: absolute;
  top: 3px;
  right: 10px;
}

.zeroclipboard-is-hover {
  @extend .btn-default:hover;
}
.dropdown-menu {
  right: 0;
  left: auto;
}


@media screen and (max-width: 767px) {
  body {
    padding: 100px 0 0;
  }
}
