// libs
@import "bootstrap";
@import "vars";
@import "prism";
@import "toastr";

// content style

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  padding: 51px 0 0;
}
footer {
  padding: 20px 0;
}

.wrapper {
  height: 100%;
  overflow: auto;
  padding: 20px 0 0;
}
.search-form {
  padding: 10px 0 5px;
}

.list-group-item:focus, .list-group-item:hover {
  @extend .list-group-item.active;
  outline: 0;
}

.hl {
  font-weight: bold;
}

.loading {
  width: 32px;
  display: block;
  margin: 20px auto;
}
.snippet-details {
  .panel, .panel-body {
    padding: 0;
  }


  .panel pre {
    max-height: 400px;
    overflow-y: auto;
    border: 0;
    background: none;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    word-wrap: normal;
  }
}

.panel-heading {
  position: relative;
}
.panel-options {
  position: absolute;
  top: 3px;
  right: 10px;
}

.zeroclipboard-is-hover {
  @extend .btn-default:hover;
}
.dropdown-menu {
  right: 0;
  left: auto;
}

.snippet-details .panel .tip-info {
  padding: 15px;
  > pre {
    margin: 0 0 10px 0;
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }
}

a {
  cursor: pointer;
}

.panel-remove {
  color: #000;
}

/* ==========================================================================
    Markdown style helper
   ========================================================================== */
.panel-warning .panel-body h1,.panel-warning .panel-body h2,.panel-warning .panel-body h3,.panel-warning .panel-body h4,.panel-warning .panel-body h5,.panel-warning .panel-body h6{
  margin:1em 0 15px;
  padding:0;
  font-weight:bold;
  line-height:1.7;
  cursor:text;
  position:relative
}

.panel-warning .panel-body h1 .octicon-link,.panel-warning .panel-body h2 .octicon-link,.panel-warning .panel-body h3 .octicon-link,.panel-warning .panel-body h4 .octicon-link,.panel-warning .panel-body h5 .octicon-link,.panel-warning .panel-body h6 .octicon-link{
  display:none;
  color:#000
}

.panel-warning .panel-body h1:hover a.anchor,.panel-warning .panel-body h2:hover a.anchor,.panel-warning .panel-body h3:hover a.anchor,.panel-warning .panel-body h4:hover a.anchor,.panel-warning .panel-body h5:hover a.anchor,.panel-warning .panel-body h6:hover a.anchor{
  text-decoration:none;
  line-height:1;
  padding-left:0;
  margin-left:-22px;
  top:15%
}

.panel-warning .panel-body h1:hover a.anchor .octicon-link,.panel-warning .panel-body h2:hover a.anchor .octicon-link,.panel-warning .panel-body h3:hover a.anchor .octicon-link,.panel-warning .panel-body h4:hover a.anchor .octicon-link,.panel-warning .panel-body h5:hover a.anchor .octicon-link,.panel-warning .panel-body h6:hover a.anchor .octicon-link{
  display:inline-block
}

.panel-warning .panel-body h1 tt,.panel-warning .panel-body h1 code,.panel-warning .panel-body h2 tt,.panel-warning .panel-body h2 code,.panel-warning .panel-body h3 tt,.panel-warning .panel-body h3 code,.panel-warning .panel-body h4 tt,.panel-warning .panel-body h4 code,.panel-warning .panel-body h5 tt,.panel-warning .panel-body h5 code,.panel-warning .panel-body h6 tt,.panel-warning .panel-body h6 code{
  font-size:inherit
}

.panel-warning .panel-body h1{
  font-size:2.5em;
  border-bottom:1px solid #ddd
}

.panel-warning .panel-body h2{
  font-size:2em;
  border-bottom:1px solid #eee
}

.panel-warning .panel-body h3{
  font-size:1.5em
}

.panel-warning .panel-body h4{
  font-size:1.2em
}

.panel-warning .panel-body h5{
  font-size:1em
}

.panel-warning .panel-body h6{
  color:#777;
  font-size:1em
}

.panel-warning .panel-body p,.panel-warning .panel-body blockquote,.panel-warning .panel-body ul,.panel-warning .panel-body ol,.panel-warning .panel-body dl,.panel-warning .panel-body table,.panel-warning .panel-body pre{
  margin:15px 0
}

.cursors-container {
  padding: 5px;
}


@media screen and (max-width: 767px) {
  body {
    padding: 100px 0 0;
  }
}
